@font-face {
    font-family: 'Bronco';
    src: url(./fonts/BroncoPersonalUse.ttf);
}

:root {
    a {
        --bulma-link-text: brown;
    }
}

.rounded {
    border-radius: 12px;
}

@media (prefers-color-scheme: dark) {
    :root {
        a {
            --bulma-link-text: wheat;
        }
    }
}

.remix-rodeo-banner {
    padding: 2rem;
    text-align: center;
    border-bottom: 2px solid black;
    background-image: url(./images/lee-pigott-B3SoLw5pM4s-unsplash.jpg);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: cover;
}

.remix-rodeo-banner h1 {
    font-size: 4rem;
    color: white;
    margin-bottom: 0;
    font-family: 'Bronco', Helvetica, Arial, sans-serif;
    text-shadow: 4px 4px 8px rgba(53, 53, 53, 1);
}

@media only screen and (min-width: 768px) {
    .remix-rodeo-banner h1 {
        font-size: 6rem;
    }
}
